.container{
    width: 65%;
    background-color: #fff;
    padding: 15px;
    margin: auto;
}

.display-meassure{
    font-weight: bold;
    font-size: xx-large;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.result{
    font-weight: bold;
    font-size: xx-large;
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
}

.indicator{
    display: inline-block;
    width: 50%;
    box-sizing: border-box;

}